[% msg %]
<div class="db-table-wrapper">
[% IF caption ne "" %]<h2 class="db-table-caption">[% caption %]</h2>[% END %]
[% table-start %]
[% IF caption ne "" %]<caption>[% caption %]</caption>[% END %]
<thead>
[% columns %]
</thead>
<tbody>
[% details %]
</tbody>
</table>
</div>
